<section class="section">
		<div class="container">
			<div class="columns is-mobile is-centered">
				<div class="column is-6">
	
					<div class="logo has-text-centered">
						<%= image_tag 'csv-logo.svg' %>
					</div>

					<div class="box has-text-centered">
						<div>
							<p class="heading">Analyzed Rows</p>
							<p id="analyzed-rows" class="title">0</p>
						</div>
						<progress id="progress" class="progress is-primary is-margin-top" value="0" max="5000"></progress>

						<%= link_to root_path, id: 'return-btn', class: 'button is-primary hidden' do %>
							<span class="icon">
								<i class="fa fa-arrow-circle-left"></i>
							</span>
							<span>Return</span>
						<% end%>
					</div>
	
				</div>
			</div>
		</div>
	</section>