<section class="section">
		<div class="container">
			<div class="columns is-mobile is-centered">
				<div class="column is-6">
	
					<div class="logo has-text-centered">
						<%= image_tag 'csv-logo.svg' %>
					</div>

					<div class="box has-text-centered">
						<div>
							<p class="heading">Analyzed Rows</p>
							<p id="analyzed-rows" class="title">0</p>
						</div>
						<progress id="progress" class="progress is-primary is-margin-top" value="0" max="4000"></progress>
					</div>
	
				</div>
			</div>
		</div>
	</section>